<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Mathias Payer">
<meta name="theme-color" content="#466ddb">
<title>Top Authors, the Systems Circus</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/fontawesome.min.css" rel="stylesheet"/>
<link href="css/academicons.min.css" rel="stylesheet"/>
<style>
#authors
{
border-collapse:collapse;
}
#authors td, #authors th 
{
font-size:0.8em;
border:1px solid #0a1a46;
padding:2px 4px 2px 4px;
}
#authors th 
{
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 5;
font-size:1em;
text-align:left;
padding-top:3px;
padding-bottom:2px;
background-color:#090f42;
color:#fff;
}
#authors tr.light
{
color:#666666;
}
#authors td
{
text-align:right;
}
#authors td.name
{
text-align:left;
}
#authors tr.alt td 
{
background-color:#add8e6;
}
</style>
</head>
<body>
    <main role="main" class="container">
    <div class="jumbotron">
    <h1>An overview of the Systems Circus</h1><br/>
    <ul>
        <li>This page highlights the system circus, including the system security circus.</li>
        <li>The focus of these statistics is on authors and top tier publications.</li>
        <li>All code is available on <a href="https://github.com/HexHive/pubstats">the HexHive GitHub.</a></li>
        <li>Do you have ideas, comments, or improvements? Reach out to Mathias Payer via <a href="https://twitter.com/gannimo"><i class="fab fa-twitter"></i></a> or <a href="mailto:mathias.payer@epfl.ch"><i class="fa fa-envelope"></i></a> first.</li>
        <li>Data was processed on XXXDATEXXX.</li>
    </ul>
    <p>Key motivation for this page is to provide an overview of the systems community, its publications, its authors, and its cliques.</p>
    <p>The data is sourced from DBLP (for publication data) and CSRankings (for affiliation data). The scripts process the data
        and create the necessary files for the web page, allowing a fast turnaround whenever new data is added to DBLP.</p>
    </div><div class="jumbotron">
    <h4>Area statistics</h4>
    <ul>
        <li>Per-area statistics for the major systems conferences.</li>
        <li>We single out total papers, maximum and average papers of an author (max/a and avg/a), average for the top 50 authors (a50), and active authors (a)</li>
        <li>The total number of publications increases steadily for most areas, with security and mobile having the largest increases.</li>
        <li>The maximum number of publications of a single author in a year is slowly increasing, somewhat in line with the increase of the total number of authors per paper.</li>
        <li>As a top author, the number of papers across all areas of systems have increased from around 4-5 to 7-8 papers per year.</li>
        <li>The total number of active authors in a year is steadily increasing, with security and design taking the lead.</li>
    </ul>
    XXXAREAIMGSXXX
    <table id="authors">
    XXXAREASTATSXXX
    </table>
    </div><div class="jumbotron">
    <h4>Individual per-author statistics for different areas</h4>
    <ul>
    XXXCONTENTXXX
    </ul>
    </div><div class="jumbotron">
    <h4>Author/collaboration cliques for different areas</h4>
    <ul>
        <li><a href="cliques.html">List of author cliques (based on co-authorship).</a></li>
    </ul>
    </div>
    </main>
</body>