<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Mathias Payer">
<meta name="theme-color" content="#563d7c">
<title>Top Authors, the Systems Circus</title>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/fontawesome.min.css" rel="stylesheet"/>
<link href="css/academicons.min.css" rel="stylesheet"/>
</head>
<body>
    <main role="main" class="container-fluid">
    <div class="jumbotron">
    <h1>Top Authors, the Systems Circus</h1>
    <h4>Disclaimer</h4>
    <ul>
        <li>This page highlights the system circus, including the system security circus.</li>
        <li>The focus of these statistics is on authors and top tier publications.</li>
        <li>All code is available on <a href="https://github.com/HexHive/pubstats">the HexHive GitHub.</a></li>
        <li>Data was processed on XXXDATEXXX.</li>
    </ul>
    <h4>Individual tables</h4>
    <ul>
    XXXCONTENTXXX
    </ul>
    <h4>Author cliques</h4>
    <ul>
        <li><a href="cliques.html">List of author cliques (based on co-authorship).</a></li>
    </ul>
    </div>
    </main>
</body>