<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Mathias Payer">
<meta name="theme-color" content="#563d7c">
<title>XXXTITLEXXX</title>
<script src="sorttable.js"></script>
<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="css/fontawesome.min.css" rel="stylesheet"/>
<link href="css/academicons.min.css" rel="stylesheet"/>
<style>
#authors
{
border-collapse:collapse;
}
#authors td, #authors th 
{
font-size:1.2em;
border:1px solid #0a1a46;
padding:3px 7px 2px 7px;
}
#authors th 
{
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 5;
font-size:1.2em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#090f42;
color:#fff;
}
#authors td
{
text-align:right;
}
#authors td.name
{
text-align:left;
}
#authors tr.alt td 
{
background-color:#add8e6;
}
</style>
</head>
<body>
    <main role="main" class="container-fluid">
    <div class="jumbotron">
    <h1>XXXTITLEXXX</h1>
    <ul>
        <li>This list contains only authors with at least 3 publications.</li>
        <li>The top conferences are: XXXTOPCONSXXX</li>
        <li>(A) shows the median number of authors across all publications.</li>
        <li>(A5) shows the median number of authors of the last 5 years.</li>
        <li>(Rel) shows the overall relative number of papers an author wrote, e.g., if you wrote 2 papers with 3 authors each you would get 2 times 1/3, i.e., 2/3.</li>
        <li>(Rel5) shows the relative number of papers an author wrote for the last 5 years.</li>
        <li>Click on the column name to sort.</li>
        <li><a href=".">Back to the main pubstat page</a>.
        <li>Data was processed on XXXDATEXXX.</li>
    </ul>
    </div>
    <table id="authors" class="sortable">
        XXXCONTENTXXX
    </table>
    </main>
</body>